<!DOCTYPE html>
<head>
    <title>HAVOC Admin | Entreprenuerr Reply</title>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'havocadmin/css/styles.css' %}">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="{% static 'havocadmin/img/logo.svg' %}">
            </div>
            <ul>
                <li class="active"><a href="{% url 'havocadmin:home' %}">Home</a></li>
                <li><a href="{% url 'havocadmin:dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'havocadmin:services' %}">Services</a></li>
                <li><a href="{% url 'havocadmin:team' %}">Team</a></li>
                <li><a href="{% url 'havocadmin:about' %}">About</a></li>
                <li><a href="{% url 'havocadmin:logout' %}">Logout</a></li>
            </ul>
        </div>
    </header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="repsec">
    <br>
    <center>
    <h2>Entreprenuer Query Support</h2>
    <br>
    <form method="post" action="/havocadmin/ereplymail/{{subject}}">
        {% csrf_token %}
        <textarea rows="5" name='body' placeholder="Solution to the submitted query"></textarea><br>
        <input type="submit" value="Send" class="submit-btn">
    </form>
    </center>
</div>
</body>
</html>