<!DOCTYPE html>
<head>
    <title>Entreprenuer | Home</title>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'entreprenuer/css/styles.css' %}">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="{% static 'entreprenuer/img/logo.svg' %}">
            </div>
            <ul>
                <li class="active"><a href="{% url 'entreprenuer:home' %}">Home</a></li>
                <li><a href="{% url 'entreprenuer:services' %}">Services</a></li>
                <li><a href="{% url 'entreprenuer:contact' %}">Contact</a></li>
                <li><a href="{% url 'entreprenuer:about' %}">About</a></li>
                <li><a href="{% url 'entreprenuer:logout' %}">Logout</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>HAVOC</h1>
            <h3>Hello {{name}}</h3>
        </div>
        <div class="main-opt">
            <a href="{% url 'entreprenuer:content' %}" class="main-opt-btn">Get Started</a>
        </div>
    </header>
</body>
</html>